.chat-card {
    background: #FFFFFF;
    border: 1px solid #32C3FF;
    border-radius: 9px;
    margin-top: 10px;
    width: 80vw;
    padding: 5px;
    }

.chat-img{
    border-radius: 100%;
    width: 3.5rem;
    align-self: flex-start;
}


.chat-message-time{
    font-size: small;
}
