.chat-page{
    align-self: flex-end;
}

.userImage{
    width: 15vw;
    border-radius: 100%;
 
}

.userDetails{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;

}

.other-message-content{
    background-color: rgba(50, 195, 255, 0.2);
   padding: 20px;
   border-radius: 20px;
}

.other-message-div-container{
display: flex;
flex-direction: column;
align-items: flex-start;

}

.other-message-div{
    width: 70%;
    margin-right:10px
}

.my-message-content{
    background-color: rgba(133, 133, 133, 0.2);
    padding: 20px;
    border-radius: 20px;
   
}
.my-message-div-container{
    display: flex;
flex-direction: column;
align-items: flex-end;
}

.my-message-div{
    width: 70%;
    margin-left:10px
}
.message-box{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    position: sticky;
   
}
.message-box textarea{
    border:solid 2px rgba(50, 195, 255);
    border-radius: 20px;
    width: 80%;
}

.sendMessage{
    background-color: transparent;
    border: none;
    margin-top: 7px;
}