.addPostBtn {
    background-color: #32C3FF;
    color: white;
    border-radius: 0.32rem;
    padding: 0.6rem 2rem;
    border: none;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 40px;
    margin-bottom: 30px;
  }
.userInfo{
  display: flex;
  gap: 10px;
}