.addContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

/* .ask {
  position: absolute;
  width: 127px;
  height: 24px;
  left: 30px;
  top: 85px;
  font-family: “SF Pro Display”;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #212552;
} */


 .titleRectangle {
  box-sizing: border-box;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: 321px;
  height: 100px;
  background: #FFFFFF;
  border: 1px solid #32C3FF;
  border-radius: 9px;
} 

 .codeRectangle {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  width: 321px;
  height: 100px;
  background: #FFFFFF;
  border: 1px solid #32C3FF;
  border-radius: 9px;
} 

 .upload{

  width: 322px;
  height: 52px;
  left: calc(50% - 322px / 2 + 0.5px);
  top: calc(50% - 52px / 2 + 143px);
  background: #32C3FF;
  border: 1px solid #96D1DF;
  border-radius: 5px;
} 

input[type=file]::file-selector-button{
  display: none;
  
  

}



 .questionButton {
  
  width: 322px;
  height: 52px;
  left: calc(50% - 322px / 2 + 0.5px);
  top: calc(50% - 52px / 2 + 243px);
  background: #32C3FF;
  border: 1px solid #96D1DF;
  border-radius: 5px;
}  

.prevwImg{
  display: flex;  
  width: 100px;
  
}















