.padding-bottom {
    margin-bottom: 75px;
} 

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'SF Pro Display', sans-serif;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.mentorCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mentorCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  width: 82%;
  padding: 1.2em 1.3em;
  margin-top: 8rem;
  background-color: white;
  border: 0.125rem solid #32C3FF;
  border-radius: 0.64rem;
  text-align: center;
}
.mentorCard img {
  position: relative;
  border-radius: 50%;
  width: 5rem;
  transform: translateY(-4rem);
  z-index: 0;
  border: 0.2rem solid white;
}
.profile-main {
  font-size: 0.938rem;
  color: #212552;
}
.profile-main h2 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.mentor-name {
  font-size: 1.25rem;
}
.mentor-body {
  font-size: 0.94rem;
}
.mentorBtns {
  display: flex;
  justify-content: center;
  gap: 1.7rem;
}
.mentorProfileBtn * button {
  background-color: white;
  color: #32C3FF;
  border: 0.125rem solid #32C3FF;
  border-radius: 0.32rem;
  padding: 0.6rem 2rem;
  font-size: 1rem;
}
.mentorContactBtn * button {
  background-color: #32C3FF;
  color: white;
  border-radius: 0.32rem;
  padding: 0.7rem 2.1rem;
  border: none;
  font-size: 1rem;
}