.chipsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .divChips {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 5.5%;
    width: 100%;
    background-color: white;
  }
  .chips {
    padding: 0.2rem 0.4rem;
    border-radius: 1.25rem;
    margin: 1rem 0.2rem 0.5rem 0.2rem;
    font-size: 0.875rem;
    font-weight: 400;
    background-color: white;
    color: #6F6F6F;
    border: 0.125rem solid #6F6F6F;
  }
  .chips :active {
    background-color: #32C3FF;
    color: white;
    border: 0.125rem solid #32C3FF;
  }
  
  .showMore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 11%;
    background-color: white;
    color: #32C3FF;
    font-size: 1.8rem;
  }
  .showLess {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    font-size: 1.8rem;
    color: #32C3FF;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
