.chipsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .divChips {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 8%;
    width: 100%;
    background-color: white;
    z-index: 11;
  }

  .chips {
    padding: 0.2rem 0.4rem;
    border-radius: 1.25rem;
    margin: 1rem 0.2rem 0.5rem 0.2rem;
    font-size: 0.875rem;
    font-weight: 400;
    background-color: white;
    color: #6F6F6F;
    border: 0.125rem solid #6F6F6F;
  }
  .chips :focus {
    background-color: #32C3FF;
    color: white;

  }

  .chips-selected{
    background-color: #32C3FF;
    color: white;
    padding: 0.2rem 0.4rem;
    border-radius: 1.25rem;
    margin: 1rem 0.2rem 0.5rem 0.2rem;
    font-size: 0.875rem;
    font-weight: 400;
    border: 0.125rem solid #6F6F6F;
  }
  
  .showMore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 15%;
    background-color: white;
    color: #32C3FF;
    font-size: 1.8rem;
    border: 2px solid #32C3FF;
    border-radius: 100%;
    width: 10%;
    text-align: center;
  }

  .showLess{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 62%;
    background-color: white;
    z-index: 10;
    color: #32C3FF;
    font-size: 1.8rem;
    border: 2px solid #32C3FF;
    border-radius: 100%;
    width: 10%;
    text-align: center;
  }


  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
