.chipsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.divChips {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
  }

  .chips {
    padding: 0.3rem 0.8rem;
    border-radius: 1.25rem;
    margin: 0rem 0.2rem 0.5rem 0.2rem;
    font-size: 0.875rem;
    font-weight: 400;
    background-color: white;
    color: #6F6F6F;
    border: 0.125rem solid #6F6F6F;
  }
  .chips :focus {
    background-color: #32C3FF;
    color: white;

  }

  .chips-selected{
    background-color: #32C3FF;
    color: white;
    padding: 0.3rem 0.8rem;
    border-radius: 1.25rem;
    margin: 0rem 0.2rem 0.5rem 0.2rem;
    font-size: 0.875rem;
    font-weight: 400;
    border: 0.125rem solid #32C3FF;
  }
  
  .showSkills {
    background-color: white;
    color: #32C3FF;
    font-size: 1.8rem;
    border: 2px solid #32C3FF;
    border-radius: 100%;
    padding: 0 2%;
    padding-bottom: 1%;
  }


  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
