.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 100%;
    width: 82%;
    padding-top: 1.8rem;
}

.labelInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.labelInput > label {
    padding-bottom: 0.5rem;
}

.login-email {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 1rem;
    
    color: black;
}

.login-email > input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    background-color: white;
    border: 0.1rem solid #32C3FF;
    border-radius: 0.313rem;
}

.login-password {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 1rem;
    
    color: black;
}

.login-password > input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    background-color: white;
    border: 0.1rem solid #32C3FF;
    border-radius: 0.32rem;
}

.loginBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.9rem 1.1rem;    
    margin-top: 10.5rem;

    background-color: #32C3FF;
    border: none;
    border-radius: 0.32rem;
}

.loginBtn > button {
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;

    background-color: #32C3FF;
    color: white;
    border: none;
}