
.uploadedImg{
    width: 80vw;
    min-height: 5vh;
    max-height: fit-content;
    background: #FFFFFF;
    border: 1px solid #32C3FF;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.editButtons{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: -6rem;
}

.editImg{
    margin:0;
    width: 2.5rem;
}

.editImg img{
    width: 3rem;
}

#editpost{
    margin-top: .5rem;
    margin-bottom: 0;
}

.postComment{
    background-color: var(--tertiary-color);
    width: 100%;
    padding: 7px 0px;
    display: flex;
    align-items: center;
}

.post{
    width: 76px;
    height: 44px;
    background: #32C3FF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    align-self: flex-start;
}
.comment-area{
    min-height: 3rem;
    max-height: fit-content;
    width: 60vw;
    background: #FFFFFF;
    border: 1px solid #32C3FF;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 1rem;
}

.profileImg{
    width: 3rem;
    margin-left: 1rem;
}  

.showComment{
    width: 100%;
}

.commentBox{
    padding: 10px 0px;
    margin-bottom: .6rem;
    background: #F0F0F0;
    border-radius: 21px;
    display: grid;
    grid-template-columns: 30% 65%;
    margin-top: -6rem;
}

.userCommentInfo{
    margin-left: 0;
}

.userCommentInfo p{
    word-wrap: break-word;
}


