.navbar{
    background-color: white;
    position: fixed;
    width: 100vw;
    height: 13vh;
    z-index: 15;
    justify-content: center;
    flex: 1;
}

.navbar > img{
    margin-left: 40vw;
}

.navbar a{
    margin-left: auto;
    margin-right: 10vw;
}

.logo {
    margin-top: 1.5rem;
    width: 4.5rem;
}

.img {
    margin-top: 1.5rem;
    width: 1.7rem;
}

.navbar ~ div {
    margin-top: 6.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
}