
.navbar{
    position: absolute;
    background-color: white;
    position: fixed;
    width: 100vw;
    height: 10vh;
    margin: auto;
    z-index: 15;
}

.flexNav{
    display: flex;
}

.logo {
    margin-top: 1.5rem;
    width: 4.5rem;
    margin-left: 40%;
}

.img {
    margin-top: 1.5rem;
    width: 1.7rem;
}

.navbar ~ div {
    margin-top: 5rem;
    margin-bottom: 5rem;
}