.mentorImage{
    width: 10%;
}
@import url('http://fonts.cdnfonts.com/css/sf-pro-display');
:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'SF Pro Display', sans-serif;
}
.iMentor {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    font-size: 1rem;
    font-weight: 800;
}