@import url('http://fonts.cdnfonts.com/css/sf-pro-display');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 1rem;
}

h1, h2, h3 {
  margin: 0;;
}
