@import url('http://fonts.cdnfonts.com/css/sf-pro-display');

*{
  margin: 0;
  padding: auto;
}

#root{
  display: flex;
  justify-content: center;
}

a{
  text-decoration: none;
  color: var(--black-color);
}

body {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 1rem;
  word-wrap: break-word;
}

.whiteButton{
    background-color: white;
    color: #32C3FF;
    border: 0.125rem solid #32C3FF;
    border-radius: 0.32rem;
    padding: 0.6rem 2rem;
    font-size: 1rem;
    text-decoration: none;
    margin: 0;
}

.blueButton{
  background-color: #32C3FF;
  color: white;
  border: 0.125rem solid #32C3FF;
  border-radius: 0.32rem;
  padding: 0.6rem 2rem;
  font-size: 1rem;
  text-decoration: none;
  margin: 0;
}

.buttonSizeS {
  padding: 0.6rem 1rem;
  font-size: 0.7rem;
  margin-top: 10px;
}

.buttonSizeL {
  margin-top: 10px;
  width: 80vw;
  max-width: 300px;
}

.imgSizeS{
  width: 1.7rem;
}

.imgSizeL{
  width: 2rem;
}

.flex{
  display: flex;
  gap: 5px;
  align-items: center;
}

.flexColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

.nomargin{
  margin: 0;
}

.line{
  width: 80vw;
  height: 1px;
  background-color: var(--secondary-color);
}

.bold{
  font-weight: bold;
}

.width{
  max-width: 80%;
  min-width: 80%;
}



