@import url('http://fonts.cdnfonts.com/css/sf-pro-display');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-ss);
  font-size: var(--ff-size);
}

h1, h2, h3 {
  margin: 0;
  font-family: var(--ff-ss);
  color: var();
}






