.edContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fomid{
  justify-content: center;
}

.formidinside{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;


}

.file{
  width: 90%;
  height: 52px;
  left: calc(50% - 322px / 2 + 0.5px);
  top: calc(50% - 52px / 2 + 143px);
  background: #32C3FF;
  border: 1px solid #96D1DF;
  border-radius: 5px;
}

.about{
  width: 90%;
  height: 52px;
  left: calc(50% - 322px / 2 + 0.5px);
  top: calc(50% - 52px / 2 + 143px);
  background: #ffffff;
  border: 1px solid #32C3FF;
  border-radius: 5px;
  padding-left: 0.4rem;
  padding-top: 0.4rem;

}

.par{
  font-size: 0.8rem;
}

.imputs{
  width: 90%;
  height: 25px;
  left: calc(50% - 322px / 2 + 0.5px);
  top: calc(50% - 52px / 2 + 143px);
  background: #ffffff;
  border: 1px solid #32C3FF;
  border-radius: 5px;
  padding-left: 0.4rem;
}

.userImage{
  width: 25%;
  border-radius: 50%;
  margin-bottom: 1.25rem;
}

.uploadbtn{
  width: 90%;
  height: 52px;
  left: calc(50% - 322px / 2 + 0.5px);
  top: calc(50% - 52px / 2 + 243px);
  background: #32C3FF;
  border: 1px solid #96D1DF;
  border-radius: 5px;
} 


/* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }  
  
  /* The slider */
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    height: 20px;
    border-radius: 1rem;
    margin-top: 0.5rem;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  input:checked + .slider {
    background-color: #2196F3;
    
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    
  } 
  
  Rounded sliders */
  .slider.round {
    border-radius: 34px;

  }
  
  .slider.round:before {
    border-radius: 50%;
    
  }