.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F1F1F1;
    font-size: .7em;
    position: fixed;
    width: 100vw;
    height: 15vh;
    bottom: 0;
}
