.questionCard {
    padding: 1.2em 1.3em;
    border-bottom: 0.125rem solid rgba(0, 0, 0, 0.5);
    width: 70vw;
}

.profileImg{
    border-radius: 100%;
}

.linkToQuestionDetails {
    text-decoration: none;
    color: black;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.linkToQuestionDetails p:nth-child(1){
    font-weight: bold;
    margin-bottom: .2rem;
}

.linkToQuestionDetails p:nth-child(2){
    font-style: italic;
}

.comments{
    color: var(--primary-color);
    font-size: .8rem;
    margin: 0;
    align-self: center;
}

.space-between{
    justify-content: space-between;
}

